In [68]:
import pandas as pd

In [69]:
df=pd.read_excel('Algerian_forest_fires_dataset_UPDATE.xlsx')

In [70]:
df.rename( columns = { 'Bejaia Region Dataset': 'Day' , 'Unnamed: 1' : 'Month' , 'Unnamed: 2': 'year','Unnamed: 3' : 'Temperature', 'Unnamed: 4' : 'RH', 'Unnamed: 5': 'Ws', 'Unnamed: 6':'Rain',	'Unnamed: 7':'FFMC',	'Unnamed: 8':'DMC',	'Unnamed: 9': 'DC',	'Unnamed: 10':'ISI'	,'Unnamed: 11': 'BUI',	'Unnamed: 12': 'FWI',	'Unnamed: 13':'Classes'  } , inplace = True)

In [71]:
df.drop( index=0 , inplace=True)

In [72]:
df[df.isnull().any(axis=1)]

,Day,Month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,14,7,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [73]:
df.loc[:124 , 'Region']=0
df.loc[124: , 'Region']=1

In [74]:
df.drop(index= 123 , inplace=True)

In [75]:
df.drop(index = 124 , inplace= True)

In [76]:
df.isnull().sum()

Day            0
Month          0
year           0
Temperature    0
RH             0
Ws             0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        1
Region         0
dtype: int64

In [77]:
df.dropna(inplace= True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 247
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          244 non-null    object
 1   Month        244 non-null    object
 2   year         244 non-null    object
 3   Temperature  244 non-null    object
 4   RH           244 non-null    object
 5   Ws           244 non-null    object
 6   Rain         244 non-null    object
 7   FFMC         244 non-null    object
 8   DMC          244 non-null    object
 9   DC           244 non-null    object
 10  ISI          244 non-null    object
 11  BUI          244 non-null    object
 12  FWI          244 non-null    object
 13  Classes      244 non-null    object
 14  Region       244 non-null    float64
dtypes: float64(1), object(14)
memory usage: 30.5+ KB

In [79]:
df['Region']= df['Region'].astype(int)

In [80]:
df.columns= df.columns.str.strip()

In [81]:
df['Month'] = df['Month'].astype(int )

ValueError: invalid literal for int() with base 10: 'month'

In [82]:
df[['Month','Day','year','Temperature','RH','Ws']]= df[['Month','Day','year','Temperature','RH','Ws']].astype(int)

ValueError: invalid literal for int() with base 10: 'month'

In [83]:
df

,Day,Month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
1,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
2,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0
3,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
4,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0
5,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,26,9,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,1
244,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1
245,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1
246,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1
247,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1

In [84]:
df['Month'].replace( 'month' , 8  , inplace= True)

In [85]:
df['Month'].unique()

array([6, 7, 8, 9])

In [86]:
df['Day'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 'day'],
      dtype=object)

In [87]:
df.drop( index= 125 , inplace=True)

In [88]:
df.loc[[126]]

,Day,Month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
126,1,6,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire,1

In [89]:
objects= [i for i in df.columns  if df[i].dtypes == 'O']

In [90]:
for i in objects :
    if i != 'Classes' :
        df[i]=df[i].astype(float)

In [91]:
df_copy=df.drop(['Day' , 'Month' , 'year' ], axis=1)

In [92]:
import numpy as np
df_copy['Classes'] = np.where(df_copy['Classes'].str.contains('not fire'),0,1)

In [93]:
df_copy.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
1,29.0,57.0,18.0,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0,0
2,29.0,61.0,13.0,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0,0
3,26.0,82.0,22.0,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0,0
4,25.0,89.0,13.0,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0,0
5,27.0,77.0,16.0,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0

In [97]:
df_copy.to_csv('Algerian_forest_fires_dataset_UPDATE_EDA.csv')